body{
    height: 90vh;
    width: 98vw;
    background-color: whitesmoke;
    

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100em;
    width: 82em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
text-align: center;
letter-spacing: 0.3em;
}

.titulo1{
    color: rgb(126, 154, 83);
}
.titulo2{
    color:rgb(208, 154, 55);
}
ul{
width: 50em;
height: 5em;
padding: 0;
margin:1em;
}
.center{
    font-family: ;
    border: solid 1px rgb(193, 188, 188);
    height: 21em;
    width: 52em;

    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
   
 color:  rgb(130, 188, 44);
    height: 2em;
    width: 42.7em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

hr {
  padding: 0;
  margin: 0;
  border-top: 1px solid rgb(161, 190, 118);
}
.texto{
    padding: 0.5em;
}

